.Register-Parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../assets/images/EditoriallyBgNew.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* margin: 15px; */
}

.Register-Parent .Register-Form {
  width: 430px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  /* padding: 30px; */
  padding-bottom: 0px;
  position: relative;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border: solid 2px #020b40;
}

.Register-Form .Register-LogoCont {
  position: absolute;
  top: -70px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  /* background-color: white; */
  border-radius: 50%;
  padding: 10px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.Register-LogoCont .logoLogin {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  /* border: solid 3px #020b40; */
}

.Register-Form .Register-FormHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 25px;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  /* background-color: #ccc; */
}

.Register-FormHeader .BrandName {
  color: #020b40;
  font-size: 30px;
  font-weight: 650;
  text-align: center;
}

.Register-FormHeader .Register {
  color: #020b40;
  font-size: 18px;
  text-align: center;
}

.Register-Form .Register-FormContent {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  height: fit-content;
  padding-left: 30px;
  padding-right: 30px;
  /* background-color: aqua; */
}

.Register-FormContent .FormLabel {
  color: #020b40;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px !important;
}

.Register-FormContent .Register-Input {
  border: none;
  width: 100%;
  height: 40px;
  padding-left: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  border: solid 1px #cccccc9a;
  margin-bottom: 10px;
  /* margin-bottom: 10px; */
  /* box-shadow: 0px 2px rgba(0, 0, 0, 0.1); */
}

.Register-FormContent .Email-container:focus {
  border: solid 2px #242f70;
  outline: none;
}

.Register-FormContent .Register-Input:focus {
  border: solid 2px #242f70;
  outline: none;
  box-shadow: 0 0 0 2px rgba(36, 47, 112, 0.15);
}

.Register-FormContent .Register-TermsConditions {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  font-size: 14px;
  margin-bottom: 10px;
  color: var(--text-color);
}

.Register-TermsConditions .Register-TermsCondsInput {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.Register-TermsConditions .TermsNCondLink {
  color: var(--text-color);
  text-decoration: underline;
  cursor: pointer;
}

.Register-TermsConditions .TermsNCondLink:hover {
  color: #1d2f92;
}

.Register-FormContent .btnsignup {
  /* width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #020b40;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 0px !important; */
  width: 100%;
  padding: 8px 20px;
  color: var(--text-color1);
  background-color: var(--text-color);
  /* background: linear-gradient(to right, #020b40, #242f70); */
  font-weight: 600;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
}

.Register-FormContent .btnsignup:hover {
  background-color: #0c1963;
}

.Register-FormContent .btnsignup:active {
  background-color: #0c1963;
}

.Register-FormContent hr {
  width: 100%;
}

/* .Register-Form .Register-GoogleCont {
  display: flex;
  flex-direction: row;
  margin-top: 0px !important;
  cursor: pointer;
  margin-bottom: 25px;
}

.Register-Form .Google-Logo {
  width: 35px;
  height: 35px;
  transition: transform 0.3s ease-in-out;
}

.Register-Form .Google-Logo:active {
  transform: scale(1.1);
} */

.Register-Form .HaveAccount {
  display: flex;
  justify-content: end;
  align-items: end;
  /* background-color: #ccc; */
  /* gap: 50px; */
  font-size: 13px;
  margin-top: auto;
}

.HaveAccount .HaveAccountBtn {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  gap: 5px;
}

.HaveAccountBtn .Login {
  color: #020b40;
  text-decoration: none;
  font-weight: bold;
}

.Register-Form .VerifyMessageCont {
  width: 100%;
  height: 40px;
  margin-top: auto;
}

@media (max-width: 500px) {
  .Register-Parent .Register-Form {
    width: 400px;
    padding: 13px;
  }

  .Register-Form .Register-FormContent {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .Register-FormHeader .BrandName {
    font-size: 24px;
  }

  .Register-FormHeader .Register {
    font-size: 16px;
  }

  .Register-FormContent .Register-Input {
    height: 35px;
    padding-left: 15px;
    font-size: 14px;
  }

  .Register-FormContent .btnsignup {
    padding: 6px 15px;
    margin-top: 15px;
  }

  .Register-Form .HaveAccount {
    margin-top: -8px;
  }

  .HaveAccount .HaveAccountBtn {
    margin-bottom: 15px;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .Register-Parent .Register-Form {
    width: 350px;
  }

  .Register-Form .Register-FormContent {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .Register-Form .Register-FormHeader {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    /* background-color: #ccc; */
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .Register-Parent .Register-Form {
    width: 300px;
    /* height: 330px; */
  }

  .Register-Form .Register-FormContent {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .Register-Form .Register-FormHeader {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    /* background-color: #ccc; */
  }

  .Register-FormContent .Register-TermsConditions {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1px) and (max-width: 320px) {
  .Register-Parent .Register-Form {
    width: 280px;
  }

  .Register-Form .Register-FormContent {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .Register-Form .Register-FormHeader {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    /* background-color: #ccc; */
  }

  .Register-FormContent .Register-TermsConditions {
    display: flex;
    flex-direction: column;
  }
}

@media (min-height: 1px) and (max-height: 660px) {
  .Register-Parent .Register-Form {
    justify-content: start;
    width: 350px;
    height: 80vh;
    overflow-y: auto;
  }

  .Register-Form .Register-FormHeader {
    margin-top: -10px !important;
  }
}
