.PageTextEditor-Parent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #f9fbfd;
}

.PageTextEditor-Parent .PageTextEditor-Child {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.PageTextEditor-Child .PageTextEditor-Navbar {
  display: flex;
  width: 100%;
  height: 70px !important;
  padding: 15px;
  background-color: #f9fbfd;
  align-items: center;
  column-gap: 10px;
  position: fixed;
  z-index: 201;
}

.PageTextEditor-Navbar .DocsIcon {
  width: 35px;
  height: 35px;
}

.PageTextEditor-Navbar .DocsIcon:hover {
  /* background-color: rgba(172, 174, 185, 0.37); */
  cursor: pointer;
  /* transform: scale(1.1); */
}

.PageTextEditor-Navbar .PageTextEditor-NavbarTitle {
  display: flex;
  flex-direction: column;
  width: fit-content;
  line-height: 1.2;
}

.PageTextEditor-NavbarTitle .p1 {
  color: #020b40;
  font-weight: 600;
  font-size: 18px;
  margin: 0px !important;
  padding: 0px;
}

.PageTextEditor-NavbarTitle .p2 {
  color: #020b40;
  font-weight: 400;
  font-size: 16px;
  margin: 0px !important;
}

.PageTextEditor-Navbar .PageTextEditor-NavbarButtons {
  display: flex;
  width: fit-content;
  line-height: 1.2;
  margin-left: auto;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  z-index: 201 !important;
}

.PageTextEditor-NavbarButtons .ActiveUserAvatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-weight: 600;
  text-transform: capitalize;
  background-color: gray;
  color: white;
}

.PageTextEditor-Child .PageTextEditor-Body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 70px;
  flex-grow: 1;
  background-color: #f9fbfd;
}

.PageTextEditor-Body .PageTextEditor-ToolbarCont {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  background-color: #f9fbfd;
  /* border: 1px solid #383131ff; */
  position: sticky;
  top: 70px;
  z-index: 200;
  border-bottom: 1px solid #c7c7c7;
  padding-bottom: 20px;
}

.PageTextEditor-Body .PageTextEditor-Toolbar {
  display: flex;
  width: calc(100% - 30px);
  margin-left: 15px;
  margin-right: 15px;
  height: 50px;
  padding: 0 20px;
  background-color: #f0f4f9;
  border-radius: 80px;
  align-items: center !important;
  justify-content: flex-start;
  overflow-y: auto;
}

.ToolbarBtnsCont {
  display: flex;
  align-items: center;
  height: 100%;
  flex-wrap: nowrap;
}

.SlateToolbarIcon {
  width: 30px;
  height: 30px;
}

.PageTextEditor-Body .PageTextEditor-SlateNPreview {
  display: grid;
  grid-template-columns: 50%; /* Default to full width */
  grid-template-rows: auto;
  justify-content: center;
  padding: 20px;
  overflow-y: auto;
  grid-template-areas: "Slate"; /* Default to only Slate */
  /* background-color: pink; */
  gap: 20px;
}

.PageTextEditor-Body .PageTextEditor-SlateNPreview.withPreview {
  grid-template-columns: 50% 20%; /* Adjust to show both Slate and Preview */
  grid-template-areas: "Slate Preview";
}

/* .PageTextEditor-Body .PageTextEditor-Slate{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    background-color: antiquewhite;
    overflow-y: auto;
} */

.PageTextEditor-Body .PageTextEditor-SlateCont {
  grid-area: Slate;
  padding: 20px;
  width: 100%;
  height: fit-content;
  background-color: #ffffff;
  border: 1px solid #c7c7c7;
  min-height: 1200px;
}

.PageTextEditor-Body .PageTextEditor-SlateCont:focus {
  outline: none;
}

.PageTextEditor-SlateCont [data-slate-node="element"] {
  max-width: 100%;
}

.PageTextEditor-SlateCont img {
  max-width: 100%;
  height: auto;
}

.PageTextEditor-Body .PageTextEditor-PreviewCont {
  grid-area: Preview;
  padding: 20px;
  width: 100%;
  height: fit-content;
  background-color: #ffffff;
  border: 1px solid #c7c7c7;
  min-height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.PageTextEditor-PreviewCont .ProofReadTitle {
  color: #020b40;
  font-weight: 600;
  font-size: 18px;
}

.PageTextEditor-PreviewCont .ProofReadContent {
  color: grey;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}

.PageTextEditor-PreviewCont .ProofreadBtns {
  display: flex;
  justify-content: end;
}

.ProofreadBtns .Cancel {
  color: white;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background-color: #020b40;
}

.ToolbarDropdownFont {
  border-radius: 5px;
  outline: none;
  border: solid 1px #c0c3d4;
  height: 28px;
}

.ToolbarDropdownFontSize {
  border-radius: 5px;
  outline: none;
  border: solid 1px #c0c3d4;
  height: 28px;
}

@media (max-width: 768px) {
  .PageTextEditor-Body .PageTextEditor-SlateNPreview {
    grid-template-columns: 90%;
  }

  .PageTextEditor-Body .PageTextEditor-SlateNPreview.withPreview {
    grid-template-columns: 90%; /* Adjust to show both Slate and Preview */
    grid-template-areas: "Preview" "Slate";
  }
}

@media (min-width: 769px) and (max-width: 899px) {
  .PageTextEditor-Body .PageTextEditor-SlateNPreview {
    grid-template-columns: 80%;
  }

  .PageTextEditor-Body .PageTextEditor-SlateNPreview.withPreview {
    grid-template-columns: 90%; /* Adjust to show both Slate and Preview */
    grid-template-areas: "Preview" "Slate";
  }
}

@media (min-width: 900px) and (max-width: 1099px) {
  .PageTextEditor-Body .PageTextEditor-SlateNPreview {
    grid-template-columns: 80%;
  }

  .PageTextEditor-Body .PageTextEditor-SlateNPreview.withPreview {
    grid-template-columns: 60% 30%; /* Adjust to show both Slate and Preview */
    grid-template-areas: "Slate Preview";
  }
}

@media (min-width: 1100px) and (max-width: 1200px) {
  .PageTextEditor-Body .PageTextEditor-SlateNPreview {
    grid-template-columns: 80%;
  }

  .PageTextEditor-Body .PageTextEditor-SlateNPreview.withPreview {
    grid-template-columns: 60% 30%; /* Adjust to show both Slate and Preview */
    grid-template-areas: "Slate Preview";
  }
}

@media (min-width: 1201px) and (max-width: 1440px) {
  .PageTextEditor-Body .PageTextEditor-SlateNPreview {
    grid-template-columns: 80%;
  }

  .PageTextEditor-Body .PageTextEditor-SlateNPreview.withPreview {
    grid-template-columns: 55% 25%; /* Adjust to show both Slate and Preview */
    grid-template-areas: "Slate Preview";
  }
}

@media (max-width: 1099px) {
  .PageTextEditor-Toolbar .ToolbarBtnsCont {
    display: none !important;
  }

  .PageTextEditor-Toolbar .MenuToolbarIcon {
    width: 30px;
    height: 30px;
  }

  .ToolbarBtnsCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-wrap: nowrap;
    row-gap: 5px;
  }

  .VerticalLineDiv {
    background-color: transparent !important;
    margin: 0px !important;
    display: flex;
  }

  .OffcanvasToolbar-Parent {
    width: 180px !important;
  }
}

@media (min-width: 1099px) {
  .PageTextEditor-Toolbar .MenuToolbarIcon {
    display: none !important;
  }
}

.PageTextEditor-Toolbar .OffcanvasToolbar-Body {
  display: flex;
  flex-direction: column;
}

.OffcanvasToolbar-Body .ToolBar {
  display: flex;
  flex-direction: column;
}
